bin
target
build
classes
.gradle
*.iml
*.ipr
*.iws
.project
.classpath
.settings
.idea
*.novcs
R.java
out
tomcat-work
*.bak
.DS_Store
*.egg-info
virtenv/
apps/bot/venv
apps/bot/test
apps/web/venv
apps/web/vendor/*
/code_archive/
/tests/user_id_for_test.py
/.env
/csd_bot_sqlite_db.db
