APScheduler==3.6.3
certifi==2023.5.7
cffi==1.15.1
cryptography==41.0.2
decorator==5.1.1
future==0.18.3
psycopg2-binary==2.9.7
pycparser==2.21
python-dotenv==1.0.0
python-telegram-bot==13.4
pytz==2023.3
six==1.16.0
telegram==0.0.1
tornado==6.3.2
tzdata==2023.3
tzlocal==5.0.1
